a{
    margin-right: 2vw;
}
a:link{
    color:black
}
a:visited{
    color:red
}
a:active{
    color:aqua
}
a:hover{
    background-color: greenyellow;
}
table,td,th{
    border:1px solid black;
    /* border-spacing: 2vw;
   border-collapse: separate;by deault*/
   border-collapse: collapse;
   padding:3vw;
   text-align: right;
   vertical-align: bottom;
   empty-cells: hide;
  
}
caption{
    caption-side: bottom;
}
ul{
    list-style-type:square;
    list-style-position: outside;
   /* list-style-image: url("../Sample\ Pictures/Desert.jpg");*/
}
body{
    background-color: rgb(230,150,100,0.2);
}
img{
    opacity: 0.5;
}
.container{
    background-image: url("../Sample\ Pictures/Koala.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}

